body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#videos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    width: 400px;
    margin: 10px;
}
